include LICENSE
include README.md
include hotpot/__version__.py
graft hotpot/cheminfo/ChemData
graft hotpot/dataset/ChemData
graft hotpot/cheminfo/AImodels/cbond/onnx
include hotpot/cheminfo/AImodels/cbond/cli_doc.md
graft hotpot/cheminfo/AImodels/mca/models
include hotpot/cheminfo/AImodels/mca/cli_doc.md
include hotpot/cheminfo/geometry/relation.md
