[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "hotpot-zzy"
version = "0.2.1"
dependencies = [
    "numpy",
    "pandas",
    "thermo",
    "cclib"
]

[tool.setuptools]
include-package-data = true