[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "hotpot-zzy"
version = "0.3.0.5"
dependencies = [
    "numpy",
    "pandas",
    "thermo",
    "cclib",
    "tqdm",
    'rdkit',
    'periodictable',
    'psutil'
]

[tool.setuptools]
include-package-data = true